<h2 id="title"> Here's a list of all the artists</h2>

<p><a href="/artist/new">Create a new artist</a></p>

<div class="index">
<% for artist in @artists do %>
<hr>
  <p>Artist: <%= artist.name() %></p>
  <p><a href="/artist/<%= artist.id %>">View albums</a></p>

  <form action="/artist/<%= artist.id%>/delete" method="post">
    <input type="submit" value="Delete Artist">
  </form>

<% end %>
</div>
<hr class="index">
