<h2>Full Inventory</h2>

<div class="grid1">
  <% for album in @albums do %>
    <div class="grid-item">
    <p>Artist: <%= album.artist_name %></p>
    <p>Title: <%= album.title %></p>
    <p>Total in stock: <%= album.stock %></p>
    <p>Profit per album: £ <%= album.profit %>
    </div>
  <% end %>
</div>
