<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/title.jpeg/" />
    <title>Gets.Records</title>
      <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

    <div id="header"><a href="/artist"><img id="banner" src="/banner2.jpg"/></a></div>

  <div>
    <audio controls="controls">
      <source src="/full_moon_king.mp3" type="audio/mpeg">
    </audio>
  </div>

    <div class="searchbars">
      <form id="search" action="/artist/artist_search" method="post">

          <label for="artist-search-by-name"></label>
          <input type="text" name="name" id="artist-search-by-name" list="artists"
            placeholder="Search artists">
          <br>
          <input type="submit"value="Search">

          <% @artists = Artist.all %>
          <datalist id="artists">
            <% for artist in @artists do %>
              <option value="<%= artist.name %>">
            <% end %>
          </datalist>
      </form>

      <form id="search" action="/album/artist_search" method="post">

          <label for="album-search-by-title"></label>
          <input type="text" name="title" id="album-search-by-title" list="albums"
            placeholder="Search albums">
          <br>
          <input type="submit"value="Search">

          <% @albums = Album.all %>
          <datalist id="albums">
            <% for album in @albums do %>
              <option value="<%= album.title %>">
            <% end %>
          </datalist>
      </form>
    </div>
  </head>
<body>

  <%= yield %>
</body>
</html>
