<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/title.jpeg/" />
    <title>Gets.Records</title>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <div id="header"><a href="/artist"><img id="banner" src="/banner2.jpg"/></a></div>
    <audio controls="controls">
      <source src="/full_moon_king.mp3" type="audio/mpeg">
    </audio>

    <form action="/album/artist_search" method="post">

        <label for="album-search-by-title">Search</label>
        <input type="text" name="title" id="album-search-by-title" list="albums">
        <input type="submit"value="Search">

        <% @albums = Album.all %>
        <datalist id="albums">
          <% for album in @albums do %>
          <option value="<%= album.title %>">
            <% end %>
        </datalist>

    </form>

  </head>
  <body>

    <%= yield %>
  </body>

</html>
