<h2 id="title">New Artist</h2>

<form action="/artist" method="post">
  <label for="name-field">Artist name: </label>
  <input type="text" name="name" id="name">
  <input type="submit" value="Submit">
</form>
