<h2><%= @album.title %> has been updated with the following details;</h2>

<p>Genre: <%= @album.genre%></p>
<p>Stock: <%= @album.stock%></p>
<p><img src="<%= @album.artwork %>" alt="album-artwork" id="album_art"></p>

<p><a href="/artist/all">Click here to see the artist list</a></p>
