
<p>Putsing music back in your life</p>
<p><a href="/artist/profile">Click here to set up a new artist & album</a></p>

<a href="/artist/all"><img id="store" src="/aa.jpeg"></a>
<a href="/artist/inventory"><img id="store" src="/inventory1.jpeg"></a>


<footer>	&copy; Simon Anger 2017</footer>
