<h2>Unfortunately there are no artists that match that name</h2>
<p>Would you like to create one?</p>
<p><a href="/artist/new">Click here to set up a new artist</a></p>
<p><a href="/artist/profile">Click here to set up a new artist & album</a></p>
